.home-container {
  padding: 50px;
  text-align: center;
  }
  
  h1 {
  font-size: 36px;
  color: #444;
  }
  
  p {
  font-size: 20px;
  color: #666;
  }
  
  .image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }
  
  .image img {
  max-width: 40%; /* Reduce el tamaño /
  height: auto; / Mantiene la proporción */
  }
  
  /* Ajustes responsivos /
  @media (max-width: 768px) {
  .image img {
  max-width: 60%; / Aumenta en pantallas medianas */
  }
  }
  
  @media (max-width: 480px) {
  .image img {
  max-width: 80%; /* Se adapta más en móviles */
  }
  }
  
  .social-links {
  margin-top: 20px;
  }
  
  .social-links a {
  margin: 10px;
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  }
  
  .social-links a:hover {
  text-decoration: underline;
  }